# Core LLM stack
transformers
langchain==0.1.14
langchain-community==0.0.30
sentence-transformers
sentencepiece
faiss-cpu==1.7.4
faiss-gpu
peft

# FastAPI backend
fastapi==0.110.0
uvicorn==0.29.0
httpx==0.27.0
sqlmodel
pydantic
python-jose==3.3.0
passlib[bcrypt]==1.7.4
datasets
huggingface_hub
protobuf
accelerate
psycopg2-binary


# File parsing + tools
pdfminer.six==20221105
pandas==1.5.3

# Plotting
plotly==5.21.0

# Model serving
torch>= 2.2.0
gradio==3.50.2